 .product-card {
            border: 1px solid #ddd;
            padding: 15px;
            margin: 10px;
            border-radius: 5px;
        }
 .product-name {
            color: #007dff;
            font-size: 20px;
            margin-bottom: 10px;
        }
 .product-price {
            color: #007;
            font-weight: bold;
        }
 .product-description {
            color: #888;
            font-style: italic;
        }